@charset "UTF-8"

/* VERSA0 MOBILE FIRTS */

html, body {
height: 100vh;
width: 100vw;
}

body {
 background-color: #D3D3D3;
}

header {
background-color: #949494;
padding: 10px;
}

header > menu {
background-color: #130a0a0f;
}

header > h1 {
text-align: center;
}

menu {
    text-align: center;
}
 #hambuguer {
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.003);
    padding: 10px;
    width: 100%;
    text-align: center;
 }

menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    text-align: center;
}

menu > ul > li {
display: flex;
}

 a {
color: white;
text-decoration: none;
font-size: 1.2em;

}

main {
    width: 410px;
 margin: auto;
}

main > article {

}


