@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Belanosima & family= Caveat & family= Cinzel & family= Oswald:wght@200 & family= Rock+Salt & display=swap' );

:root {
    --fonte1: font-family: 'Belanosima', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rock Salt', cursive;
    --cor1: #EB0029;
    --cor2: #B8001F;
    --cor3: #B74006; 
}

body {
    background-color: #F67962;
    
    min-width: ;
    
}

header {
    background-color: #8CFFBC;
    padding:  8px 17px 17px 17px;
    border-radius: 9px 12px 10px 10px;
}
h1 {
    font-family: var(--fonte);
    text-align: center;
    margin: auto;
    font-size: 2.2em;
}
nav {
    color: black;
}

main  img {
    min-width: 400px;
    max-width: 100px;
    min-height: 350px;
    max-height: 1000px;
    padding: 10px 8px 9px 10px;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    line-height: 1.8em;
    text-align: center;
    margin: auto;
    padding: 6px 18px;
    
}

aside {
    background-color: yellow;
}

h2 {
    text-align: left;
    font-size: 1.8em;
    padding: 15px 10px 10px 7px;
}

a {
    color: var(--cor3);
}
a:hover {
    color: black;
}