@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
   background-color: black; 
}

section > header {
color: white;
text-align: center;
}

section > header > h1 {
    font-size: 3em;
    text-align: center;
color: white;
}
 #conteudo {
display: flex;
justify-content: space-between;
flex-direction: column
 }

 #conteudo__sessao {

 }


img {
    display: flex;
    width: 490px;
    height: 300px;
 margin-top: 10px;
margin-left: 5px;
   
}

#conteudo__sessao__link {
display: flex;
text-align: center;
    color: white;
    background-color: darkslategray;
    padding: 30px;
    border-radius: 30px;
  margin: 20px;  
  margin-left: 70px;
  margin-right: 200px;         
}

@media screen  (min-width) {
    
}

/* Tá faltando alguns ajustes no conteudo mobile e
fazer o conteudo se adaptar a qualquer tela.
fazer o mediaqueries urgentimente. */

