@charset "UTF-8"

:-webkit-scrollbar {
width: 0px;
height: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: rgba(0, 0, 0, 0.557);
    overflow: hidden;
}

main {
    position: relative;
    height: 100vh;
}

div {

}

div#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  background-image: url(imagens/frame-iphone.png);
  background-repeat: no-repeat;
  height: 627px;
  width: 311px;
}

iframe {
    position: absolute;
    top: 13% ;
    left: 7% ;
    height: 470px;
    width: 265px;
    
}
div#aplicativo {
    position: absolute; 
    top: 12%; 
}

img {
    display: block;
    margin-top: 20px;
    height: 50px;
    border-radius: 50%;
}

