@charset "UTF-8"

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {

}

body {
 
}

header {
    padding-top: 2px;
    text-align: center;
background-color: #5c049bf2;
color: white;
}

h1#main {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}
nav > a {
    color: white;
    font-weight: bolder;
margin: 10px;
word-spacing: 20px;
padding-top: 3px;
}

main {
    min-width: 300px;
    max-width: 900px;
 margin: auto;
}

h1 {
    font-size: 2.1em;
}
h2 {
    font-size: 1.7em;
}



p {
    font-size: 1.2em;
    line-height: 1.3em;
}